.top-bar__container {
  height: 125px;
  background-color: #0C5555;
}

.top-bar__container--alt {
  background-color: white;
}

.top-bar__container_wrap {
  display: flex;
  justify-content: space-between;

  max-width: 800px;
  margin: auto;
}

.top-bar__image {
  height: 125px;

  cursor: pointer;
}

.top-bar__button-container {
  display: flex;
  align-items: center;

  padding-right: 16px;
}

.top-bar__button {
  font-size: 20px;
  color: white;

  margin-right: 24px;
  height: fit-content;
}

.top-bar__button--alt {
  color: #0C5555;
}