@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page__banner {
  background-color: #0C5555;
}

.home-page__banner-text {
  font-size: 18px;
  color: white;

  max-width: 800px;
  margin: auto;
  padding: 24px 42px 48px;
}

.home-page__splash-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  max-width: 800px;
  margin: auto;
  padding: 0 48px;
}

.home-page__splash-text {
  font-size: 18px;
  color: black;
  text-align: center;

  max-width: 180px;
  margin-right: 8px;
  margin-top: 32px;
}

.home-page__banner-title {
  text-align: center;
  font-size: 28px;
  color: white;
  padding-top: 32px;
}

.home-page__button {
  font-size: 20px;
  letter-spacing: 1px;

  color: white;
  background-color: #0C5555;

  padding: 8px 48px;
  margin-top: 24px;
}

.home-page__splash-banner {
  height: 225px;

  background-position: center;
  background-size: cover;
  background-image: url('/banner.png');
}