@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bar__container {
  height: 125px;
  background-color: #0C5555;
}

.top-bar__container_wrap {
  display: flex;
  justify-content: space-between;

  padding: 0 50px 0 0;
}

.top-bar__image {
  height: 125px;
}