@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page__banner {
  background-color: #0C5555;
}

.home-page__banner-text {
  font-size: 18px;
  color: white;

  max-width: 800px;
  margin: auto;
  padding: 48px;
}

.home-page__button-container {
  display: flex;
  justify-content: center;
}

.home-page__button {
  font-size: 20px;
  letter-spacing: 1px;

  color: white;
  background-color: #0C5555;

  padding: 8px 48px;
  margin-top: 24px;
}